.site-container {
  width: 1440px;
  height: 1930px;
  background-color: #BFD7E4;

  position: relative;
}

.form-wrapper {
  width: 750px;
  left: 1075px;
  border-radius: 0 0 20px 20px;
  background-color: #ffffff;
  margin: auto;

}